/***************************************************************************************************************************
 * @file: /Users/jason/Sites/cotf/src/styles/fonts.module.css
 * -----------------------------------------------------------------------------------------------------------------------------------------------
 * @description: This file contains the @font-face rules for the 'Anek Malayalam' font, specifying various font weights and ensuring the fonts are loaded efficiently and responsively across different browsers.
 * ---------------------------------------------------------------------------------------------------------------------------------------------
 * @functionality: It provides the application with a consistent typographic appearance by defining how the 'Anek Malayalam' font is loaded and displayed in the application, covering a range of font weights from 100 to 800.
 * ---------------------------------------------------------------------------------------------------------------------------------------------
 * Created by: Jason McCoy
 * Created on: 12/30/2023
 * ---------------------------------------------------------------------------------------------------------------------------------------------
 * Last Updated by: Jason McCoy
 * Last Updated on: 01/04/2024
 * ---------------------------------------------------------------------------------------------------------------------------------------------
 * Changes made: Updated font file paths and added additional font weights to enhance typographic hierarchy and readability across the application.
 * ---------------------------------------------------------------------------------------------------------------------------------------------
 * Notes: Ensure that the paths to the font files are correct and that they are served efficiently to minimize load times. Regularly check for updates to the font to include any improvements or additional weights.
 ***************************************************************************************************************************/

/* woff2 : Super Modern Browsers */
/* woff2 :Modern Browsers */

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-100.woff')
      format('woff2'),
    url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-100.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-200.woff2')
      format('woff2'),
    url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-200.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-300.woff2')
      format('woff2'),
    url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-300.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-400.woff2')
      format('woff2'),
    url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-400.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-500.woff2')
      format('woff2'),
    url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-500.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-600.woff2')
      format('woff2'),
    url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-600.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-700.woff2')
      format('woff2'),
    url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-700.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-800.woff2')
      format('woff2'),
    url('../assets/fonts/anek-malayalam/anek-malayalam-v4-malayalam-800.woff')
      format('woff');
  font-display: swap;
}
